<% layout('./layout') -%>

<h1>This is home</h1>
<form action="/auth/signin" method="post">
   <input name="email">
   <input name="password" type="password">
   <button type="submit">Login</button>
</form>